@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    .bordered{
        border-radius: 20px 20px 80px 20px;
    }
}
@layer components {

}
@layer utilities {

}

.input{
    @apply 
    mt-1 
    h-14 
    w-full 
    border-[2px] 
    rounded-md 
    pl-4 
    text-xl 
    focus:outline-none 
    focus:border-primary
    cursor-pointer
    text-offBlack 
}
